.product-image {
    max-width: 450px;
    max-height: 450rem;
    margin-top: 5%;
}

.product-description {
    margin-top: 5%;

}

.product-pricing {
    margin-top: 5%;
 }

 .btn {
     margin: 2.5%;
 } 